# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
venv/
env/
.venv/

# Pytest cache
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store
.DS_Store
.DS_Store

# viedo
wl videos/
videos
download_log_wl.csv
TikTok Creator Link - Standard_full_urls.csv
.gitignore
download_log.csv
TikTok Creator Link - Standard.csv
__pycache__/browser.cpython-313.pyc
.DS_Store
__pycache__/browser.cpython-313.pyc
.DS_Store
